@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body.swal2-height-auto {
  padding-right: 0 !important;
}

.ui.cards > .card {
  width: 47%;
  margin: 1.5%;
  border: 0px solid #000;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
  box-shadow: none;
}
.ui.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.todo_title {
  border-bottom: 1px solid #eee;
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 3px;
  margin-bottom: 10px;
}

#input {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

#task_title {
  padding-bottom: 8px;
  font-size: 16px;
}

#uuid {
  font-size: 10px;
  margin-top: 10px;
  color: #ddd;
}

#setumei {
  padding-bottom: 15px;
  white-space: pre-wrap;
}

#setumei_area {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.ui.card > .content,
.ui.cards > .card > .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#tuika_button {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2));
}

footer {
  margin-top: 6em;
}

#edit_button {
  font-weight: normal;
}

#rainbow_bar {
  border-radius: 0px 0px 4px 4px;
  margin: -1px;
}

.rainbow {
  animation: rainbow 5s infinite;
  -webkit-animation: rainbow 5s infinite;
}

@keyframes rainbow {
  12% {
    background: linear-gradient(from-green-300 via-blue-500 to-purple-600);
  }
  24% {
    background: #ffcf53;
  }
  36% {
    background: #e8ff53;
  }
  48% {
    background: #53ff5d;
  }
  60% {
    background: #53ffbc;
  }
  72% {
    background: #5393ff;
  }
  84% {
    background: #ca53ff;
  }
  100% {
    background: #ff53bd;
  }
}
